<p>dashboard works!</p>
<ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
  <button (click)="auth.logout({ logoutParams: { returnTo: document.location.origin } })">
    Log out
  </button>
  <ul *ngIf="auth.user$ | async as user">
    <li>{{ user.name }}</li>
    <li>{{ user.email }}</li>
    <li>{{ user.sub }}</li>
  </ul>


  <button (click)="publicEndpoint()">
    Public Endpoint
  </button>

  <button (click)="authEndpoint()">
    Auth Endpoint
  </button>

  <p><strong>Bearer: {{bearerToken}} </strong></p>
</ng-container>

<ng-template #loggedOut>
  <button (click)="auth.loginWithRedirect()">Log in</button>
</ng-template>
